:root {
  /* --content-width: 1280px; */
  --content-width: 1024px;
  --header-height: 55px;
  --sider-width: 240px;

  --block-spacing: 20px;
  --border-color: #d9d9d9;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}
